// Font
$mainFont                : 'IBM Plex Sans', sans-serif;
$secondFont              : 'IBM Plex Mono', sans-serif;

// Size
$mainFontColor           : #000000;
$mainFontSize            : 18px;
$mainFontWeight          : 400;
$mainLineHeight          : 1.4;

$desktopWidth            : 1200px;
$wrapperWidth            : 972px;
$bigWrapperWidth         : 1170px;


// Main color
$default-color           : #ffffff;
$primary-color           : #3051F5;
$light-color             : #ADADAD;

// Neutral Color
$neutral-primary         : #303133;
$neutral-regular         : #606266;
$neutral-secondary       : #909399;
$neutral-placeholder     : #C0C4CC;

// Border Color
$border-base             : #DCDFE6;
$border-light            : #E4E7ED;
$border-lighter          : #EBEEF5;
$border-lightex          : #F2F6FC;

